<mat-toolbar color="primary" class="navbar">
    <span class="logo">🧘TogetherWeAwaken🧘‍♀️</span>

    <span class="spacer"></span>

    <span class="nav-links">
        <!-- Books Button -->
        <button mat-button routerLink="/books" routerLinkActive="active">
            Books
        </button>

        <!-- Quotes Button -->
        <button mat-button routerLink="/quotes" routerLinkActive="active">
            Quotes
        </button>

        <!-- Login Button -->
        <button mat-raised-button color="accent" (click)="openLoginDialog()">Login</button>
    </span>
</mat-toolbar>

<div class="main-content">
    <router-outlet></router-outlet>
</div>