.sidenav-container {
    height: 100vh;
  }
  
  .logo {
    padding: 16px;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .toolbar-spacer {
    flex: 1 1 auto;
  }
  
  .main-content {
    padding: 24px;
  }
  