<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer mode="side" opened>
      <h2 class="logo">📚 TWA</h2>
      <mat-nav-list>
        <a mat-list-item routerLink="/books">Books</a>
        <!-- <a mat-list-item routerLink="/videos">Videos</a> -->
        <a mat-list-item routerLink="/quotes">Quotes</a>
        <!-- <a mat-list-item routerLink="/audios">Audios</a> -->
      </mat-nav-list>
    </mat-sidenav>
  
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <span class="toolbar-spacer"></span>
        <button mat-raised-button color="accent">Logic</button>
      </mat-toolbar>
  
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
  